<section>
    <link rel="stylesheet" type="text/css" href="css/material-icons.css">
    <link rel="stylesheet" type="text/css" href="bower_components/Materialize/dist/css/materialize.css"
          media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="bower_components/pure/pure.css">

    <style>

        body {
            font: 10px sans-serif;
            shape-rendering: crispEdges;
        }

        .day {
            fill: #fff;
            stroke: #ccc;
            opacity: 0.8;
        }

        .weekend {
            fill: lightgrey;
        }

        .rect {
            opacity: 0.3;
        }

        .m-button {
            width: 25px;
            height: 25px;
            padding: 0px;
            font-size: xx-small;
            vertical-align: top;
            opacity: 0.5;
            color: black;
        }

        .m-M {
            fill: green;
            background-color: lightblue;
            color: black;
        }

        .m-E {
            fill: orange;
            background-color: orange;
            color: black;
        }

        .month {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
        }

        .massnahmen-grid {
            width: 300px;
            height: 10px;
        }

        .ui-grid-header-canvas {
            height:     27px;
            max-height: 27px;
        }

        .ui-grid-header {
            height: 25px;
            max-height: 25px;
        }

        .center {
            text-align: center;
        }

        .highlighted-row {
            background-color: lightgrey;
        }

        .selected-row {
            background-color: yellowgreen;
        }

        .selected-day {
            stroke-width: 2px;
            stroke: black;
        }

        .m-not-allowed {
            background-color: black;
            color: white;
        }

        .active-0 {
            background-color: lightgrey;
            color: #000;
        }

        .m-ausgewaehlt {
            font-weight: bolder;
            background-color: green;
            color: white;
        }
        .m-ausgewaehlt:after {
            content: "!";
        }

        .m-frist {
            font-weight: bolder;
            background-color: red;
        }
        .m-frist:after {
            content: "!!";
        }

        .RdYlGn .q0-11{fill:rgb(165,0,38)}
        .RdYlGn .q1-11{fill:rgb(215,48,39)}
        .RdYlGn .q2-11{fill:rgb(244,109,67)}
        .RdYlGn .q3-11{fill:rgb(253,174,97)}
        .RdYlGn .q4-11{fill:rgb(254,224,139)}
        .RdYlGn .q5-11{fill:rgb(255,255,191)}
        .RdYlGn .q6-11{fill:rgb(217,239,139)}
        .RdYlGn .q7-11{fill:rgb(166,217,106)}
        .RdYlGn .q8-11{fill:rgb(102,189,99)}
        .RdYlGn .q9-11{fill:rgb(26,152,80)}
        .RdYlGn .q10-11{fill:rgb(0,104,55)}

        .supersmall-table th {
            font-size: small;
            height: 20px;
            padding: 1px;
        }

        .supersmall-table td {
            font-size: x-small;
            height: 10px;
            padding: 1px;
        }

        .supersmall-table input {
            font-size: x-small;
            height: 15px;
            padding: 0px;
        }

        rect.nothing-happened {
            opacity: 0.2;
        }

        .something-happened {
            opacity: 1.0;
            font-weight: bolder;
        }

        .req {
            background-color: lightgrey;
        }

    </style>

    <span id="taStyles"></span>

    <style>
        .selected-day-text {
            font-weight: 900;
            fill: red;
        }
    </style>

    <span class="container">
        <div class="row">
            <div class="col s12">
                <nav>
                    <div class="nav-wrapper">
                        <span class="brand-logo">Ablauf-Simulator</span>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#/auftrag">Aufträge</a></li>
                            <li><a class="btn-floating btn-small waves-effect waves-light blue" ng-click="save()"><i class="material-icons">archive</i></a></li>
                            <li><a class="btn-floating btn-small waves-effect waves-light {{buttonColors.ablaufColorButton}}" ng-click="toggleVpAblaufColors()"><i class="material-icons">widgets</i></a></li>
                            <li><a id="deleteDay" class="btn-floating btn-small waves-effect waves-light blue disabled" ng-click="removeMassnahmeEventAtCurrentDate()"><i class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                &nbsp;
                <div class="row" ng-repeat="(category, massnahmen) in massnahmenCategories">
                    <div class="col s2">
                        {{category}}
                    </div>
                    <div ng-repeat="m in massnahmen" class="col s1">
                        <a title="{{m.name}}" ng-click="addMassnahmeAtCurrentDate(m.id)" class="active-{{m.active}} waves-effect waves-light btn m-M l-{{m.name}} m-button m-not-allowed">{{m.id}}</a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                &nbsp;
                <div class="row" ng-repeat="(category, events) in eventCategories">
                    <div class="col s2">
                        {{category}}
                    </div>
                    <div ng-repeat="e in events" class="col s1">
                        <a title="{{e.name}}" ng-click="addMassnahmeAtCurrentDate(e.id)" class="active-{{e.active}} waves-effect waves-light btn m-E l-{{e.name}} m-button">{{e.id}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <div id="calendar"></div>
            </div>
            <div class="col s4 supersmall-table">
                <div class="req">
                    Aktueller Saldo: <input type="text" ng-model="miscValues.RESTSALDO">
                    Alter der Forderung in Tagen: <b>{{alterForderungInTagen}}</b><br>
                    Aktuelles Ereignis: <b>{{aktuellesEreignis}}</b>
                <p></p>
                <table>
                    <thead>
                        <th>Maßnahme/Event</th>
                        <th>Anzahl</th>
                        <th>Tage seit letzter</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in statistic.eventsUndMassnahmen">
                            <td>{{value.name}}</td>
                            <td>{{value.count}}</td>
                            <td>{{value.daysSinceLast}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <p></p>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Maßnahme/Event</th>
                            <th>Bemerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="clickOnRect(a.datum)" ng-repeat="a in ablauf" class="row-{{a.datum}}">
                            <td>{{a.datum}}</td>
                            <td>{{a.name}}</td>
                            <td><input type="text" ng-model="a.bemerkung"></td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 supersmall-table" ng-show="showVpAblauf">
                &nbsp;
                <table class="bordered">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>MZ</th>
                        <th>Aktivität</th>
                        <th>Ablauf</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="clickOnRect(entry.datum)" ng-repeat="entry in vpAblaufEntries" class="tastart-{{entry.taStartIndex}} row-{{entry.datum}}">
                        <td><b>{{entry.datum}}</b></td>
                        <td>{{entry.MzName}}</td>
                        <td>{{entry.fullBez}}</td>
                        <td>{{entry.AblBez}} ({{entry.AblID}})</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>

</section>