<section>
    <style>
        input.cb {
            font-size: 3px;
            width: 5px;
            height: 5px;
        }

        input[type="checkbox"][checked="checked"].filled-in.cb {
            width: 5px;
            height: 5px;
        }

        div.stock {
            box-sizing: border-box;
        }

        div.stock > a {
            line-height: 2em;
            padding: 1px;
        }

        div.stock-on {
            font-weight: bold;
        }

        div.stock-on > a {
            color: #000;
        }

        div.stock-off {
            color: lightgrey;
            opacity: 0.5;
        }
    </style>

    <h1>stock correlations</h1>


    <span class="container">
        <div class="row">
            <div class="col s12 m1 l1 vac" align="center">
                <a title="Pause" ng-show="!pauseFlag" ng-click="pause()" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">pause</i></a>
                <a title="Play" ng-show="pauseFlag" ng-click="play()" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">play_arrow</i></a><br>
            </div>
            <div class="col s12 m11 l11">
                <range-slider
                        range-min="0"
                        range-max="{{dateSliderMax}}"
                        slider-changed-event-out="dateSliderChangedEvent"
                        value-changed-event-in="dateChangedEvent">
                </range-slider>
                <range-slider
                        range-min="30"
                        range-max="365"
                        slider-changed-event-out="periodLengthSliderChangeEvent">
                </range-slider>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="stock in stockList" class="col s6 m4 l1 stock {{stockSwitches[stock.symbol] ? 'stock-on' : 'stock-off'}} stock-onoff-{{stock.symbol}}" align="center">
                <a class="xxs waves-effect waves-teal btn-flat" ng-click="switchStockOnOff(stock.symbol)">
                    {{stock.symbol}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12" align="center">
                <span class="l">{{current_period_start}} - {{current_period_end}}</span>
                <correlations-chord
                        redraw-event="redrawEvent"
                        new-objects-event="stocksChangedEvent"
                        click-on-chord-event="clickOnChordEvent"
                        ready="ready"
                        objects="currentShownStocks"
                        pos-neg-matrix="posNegMatrix"
                        correlations-matrix="correlationsMatrix">
                </correlations-chord>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12" align="center">
                <scatter-plot
                    all-values="scatterPlotAllValues"
                    period-values-with-dates="scatterPlotPeriodValues"
                    names="scatterPlotNames"
                    redraw-event="scatterPlotRedrawEvent"
                    reset-event="scatterPlotResetEvent">
                </scatter-plot>
            </div>
        </div>
    </span>
</section>